*{
margin: 0px;
padding-right: 0px;
box-sizing: border-box;
}

html{
    font-size: 6.25%;
}

header{

    background-color: rgb(235, 173, 173);
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
