* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bakcground: #050505;
    --titles: #e0ece3;
    --textos: #b7ffb7;
    --secondary: #d9dfda;
    --border: #b3c0b3;
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
}

.header {
    background-color: rgb(57, 61, 60);
    padding: 30px;
    margin: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: aliceblue;

}

.menu_list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero__img {
    width: 400px;
    height: 400px;
    border-radius: 30%;
    object-fit: cover;
    object-position: bottom;
    margin-top: 2rem;
    border: 4px solid var(--titles);
    box-shadow: 0px 0px 30px var(--titles);
}

.menu__link {
    text-decoration: none;
    color: aliceblue;
}

h1 {

    text-align: center;
    margin: 30px;
    margin: 50px;
    text-shadow: 10px salmon;
    color: rgb(234, 238, 232);
}


.hero__text {

    font-style: italic;
    color: aqua;
    font-size: 20px;


}

footer {
    border: solid aqua;
    
   

}

img {
    width: 100px;
    height: 100px;
   

}
h2 {
          color: aliceblue;
        
}



.container2{
display: flex;
flex-direction: row;
   color: aqua;
   display: flex;
    gap: 20px;

}

.text1{
  
   justify-content: right;


   
    
}

